In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
import joblib

In [2]:
data = pd.read_csv('train dataset.csv')

In [3]:
data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively

In [4]:
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
input_cols = ['Gender', 'Age', 'openness', 'neuroticism', 'conscientiousness', 'agreeableness', 'extraversion']
output_cols = ['Personality (Class label)']

In [5]:
data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,2,17,7,4,7,3,2,extraverted
1,2,19,4,5,4,6,6,serious
2,1,18,7,6,4,5,5,dependable
3,1,22,5,6,7,4,3,extraverted
4,1,19,7,4,6,5,4,lively

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     709 non-null    int32
 1   Age                        709 non-null    int64
 2   openness                   709 non-null    int64
 3   neuroticism                709 non-null    int64
 4   conscientiousness          709 non-null    int64
 5   agreeableness              709 non-null    int64
 6   extraversion               709 non-null    int64
 7   Personality (Class label)  709 non-null    object
dtypes: int32(1), int64(6), object(1)
memory usage: 41.7+ KB

In [7]:
scaler = StandardScaler()
data[input_cols] = scaler.fit_transform(data[input_cols])
data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,1.074748,-1.070378,1.304532,-0.390582,1.384449,-1.120457,-1.538039,extraverted
1,1.074748,-0.273216,-0.671778,0.212735,-0.377803,0.718441,1.015754,serious
2,-0.920007,-0.671797,1.304532,0.816052,-0.377803,0.105475,0.377306,dependable
3,-0.920007,0.922526,-0.013008,0.816052,1.384449,-0.507491,-0.899590,extraverted
4,-0.920007,-0.273216,1.304532,-0.390582,0.797032,0.105475,-0.261142,lively

In [8]:
X = data[input_cols]
Y = data[output_cols]

In [9]:
model = LogisticRegression(multi_class='multinomial', solver='newton-cg',max_iter =1000)

In [10]:
model.fit(X, Y)

C:\Users\Anjali\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000, multi_class='multinomial', solver='newton-cg')

In [11]:
test_data = pd.read_csv('test dataset.csv')
test_data['Gender'] = le.fit_transform(test_data['Gender'])
test_data[input_cols] = scaler.fit_transform(test_data[input_cols])
X_test = test_data[input_cols]
Y_test = test_data['Personality (class label)']
test_data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (class label)
0,-1.009570,-0.093562,1.400345,2.432004,2.347830,0.090659,0.049867,dependable
1,0.990521,-1.241819,0.097217,-0.321703,0.105020,-1.657770,-0.633100,serious
2,-1.009570,1.820201,0.097217,0.229038,1.226425,-1.657770,-0.633100,serious
3,-1.009570,-0.859067,0.748781,-1.423186,1.226425,-0.492151,1.415803,serious
4,-1.009570,-0.476314,-1.857474,-0.321703,1.226425,-2.240580,-1.316068,responsible

In [12]:
y_pred= model.predict(X_test)

In [13]:
y_pred[:20]

array(['extraverted', 'responsible', 'extraverted', 'serious',
       'responsible', 'serious', 'serious', 'serious', 'serious',
       'serious', 'lively', 'responsible', 'responsible', 'serious',
       'lively', 'extraverted', 'serious', 'serious', 'serious',
       'extraverted'], dtype=object)

In [14]:
np.array(Y_test[:20])

array(['dependable', 'serious', 'serious', 'serious', 'responsible',
       'serious', 'extraverted', 'serious', 'serious', 'serious',
       'serious', 'responsible', 'responsible', 'serious', 'lively',
       'extraverted', 'serious', 'serious', 'serious', 'extraverted'],
      dtype=object)

In [15]:
print(accuracy_score(Y_test,y_pred)*100)

75.23809523809524

In [16]:
joblib.dump(model, "train_model.pkl")

['train_model.pkl']

In [17]:
m = joblib.load("train_model.pkl")

In [18]:
m.predict([[0.990521,-1.241819,0.097217,-0.321703,0.105020,-1.657770,-0.633100]])

array(['responsible'], dtype=object)